@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'Post No Bills Jaffna SemiBold';
    src: url('../fonts/PostNoBillsJaffna-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

img{
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

