@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'Post No Bills Jaffna SemiBold';
    src: url('../fonts/PostNoBillsJaffna-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    background-color: #242B33;
}

a:focus{
    outline: none;
    border: none;
}

input, button{
    outline: none;
    border: none;
}

.wrapper{
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.page-title{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

/* connect */

.connect__input{
    font-family: 'Raleway';
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
}

.connect__input::-webkit-input-placeholder{
    font-family: 'Raleway';
    color: #BEBEBE;
}

.connect__input::-moz-placeholder{
    font-family: 'Raleway';
    color: #BEBEBE;
}

.connect__input:-ms-input-placeholder{
    font-family: 'Raleway';
    color: #BEBEBE;
}

.connect__input::-ms-input-placeholder{
    font-family: 'Raleway';
    color: #BEBEBE;
}

.connect__input::placeholder{
    font-family: 'Raleway';
    color: #BEBEBE;
}

.connect__form-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;
}

.connect__btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Raleway';
    background: #D4C17F;
    padding: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.connect__btn:hover{
    background-color: #f0db8f;
}

/* Header */

.header__nav-close,
.header__burger{
    display: none;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content{
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px;
}

.header__logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header__logo{
    text-decoration: none;
}

.header__logo-big{
    font-family: 'Post No Bills Jaffna SemiBold';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: white;
}

.header__logo-small{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.header__nav-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
}

.header__nav-link{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.header__nav-link:hover{
    color: #D4C17F;
}

/* Intro */

.intro{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)),
    url(../img/jpg/intro-bg.jpg);
    background: -o-linear-gradient(top, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
    url(../img/jpg/intro-bg.jpg);
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
    url(../img/jpg/intro-bg.jpg);
    padding: 296px 0 75px 0;
    background-position: center center;
    background-size: cover;
}

.intro__info{
    margin: 0 auto;
    max-width: 582px;
}

.intro__info-title{
    max-width: 556px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
    margin: 0 auto 100px auto;
}

.intro__info-mouse{
    margin-bottom: 200px;
}

.intro__info-mouse img{
    display: block;
    margin: 0 auto;
}

.intro__info-connect{
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px 100px;
    color: white;
}

.intro__info-connect-item{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-position: left center;
}

.intro__info-location{
    background-image: url(../img/svg/intro-location.svg);
    padding-left: 30px;
}

.intro__info-phone{
    background-image: url(../img/svg/intro-phone.svg);
    padding-left: 36px;
}

/* Testimonials */

.testim{
    background-image: url(../img/jpg/two.jpg);
    background-position: top 116px right 258px;
}

.testim__content{
    padding: 120px 0;
}

.testim__cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 70px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
}

.testim__card{
    max-width: 135px;
}

.testim__card:first-child{
    max-width: 193px;
}

.testim__card{
    text-align: center;
}

.testim__card-img{
    margin-bottom: 53px;
}

.testim__card:first-child {
    max-width: 193px;
}

.testim__card-text{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: white; 
}

/* Apartments */

.apart{
    background-image: url(../img/jpg/three.jpg);
    background-position: left 179px top 70px;
}

.apart__title{
    margin-bottom: 100px;
}

.apart__cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 320px 30px 320px;
    grid-template-rows: 320px 320px;
    -ms-grid-columns: minmax(320px, 535px) 30px minmax(320px, 535px);
    grid-template-columns: repeat(2, minmax(320px, 535px));
    gap: 30px;
}

.apart__cards > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.apart__cards > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.apart__cards > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.apart__cards > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.apart__card{
    position: relative;
}

.apart__card-img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.apart__card-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
    background: -o-linear-gradient(top, rgba(36, 43, 51, 0) 0%, #242B33 100%);
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}

.apart__card-desc{
    margin-top: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

/* Connect-one */

.connect-one{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)),
    url(../img/jpg/connect-one-bg.jpg);
    background: -o-linear-gradient(top, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
    url(../img/jpg/connect-one-bg.jpg);
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
    url(../img/jpg/connect-one-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.connect-one__wrap{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: minmax(383px, 535px) 35px 540px;
    grid-template-columns: minmax(383px, 535px) 540px;
    gap: 35px;
}

.connect-one__wrap > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.connect-one__wrap > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.connect-one__title{
    margin-bottom: 50px;
}

.connect-one__content{
    padding: 180px 0;
}

.connect-one__text{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.connect-one__form-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.connect-one__form{
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 35px auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: minmax(200px, 255px) 30px minmax(200px, 255px);
    grid-template-columns: minmax(200px, 255px) minmax(200px, 255px);
    gap: 35px 30px;
}

.connect-one__form > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.connect-one__form > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.connect-one__form > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.connect-one__form > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

/* Video */

.video{
    background-image: url(../img/jpg/four.jpg);
    background-position: right 200px center;
    margin-bottom: 180px;
}

.video__item{
    position: relative;
    margin: 0 auto;
    max-width: 719px;
    height: 650px;
    background-image: url(../img/jpg/video.jpg);
    background-position: center center;
    background-size: cover;
}

.video__button-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(36, 43, 51, 0.8);
}

.video__button{
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Map */

.map{
    background-image: url(../img/jpg/five.jpg);
    background-position: top 90px left 270px;
    margin-bottom: 180px;
}

.map__title{
    margin-bottom: 100px;
}

.map__item{
    width: 100%;
    height: 358px;
    background-color: #626262;
}


/* Connect two */

.connect-two{
    margin-bottom: 180px;
}

.connect-two__title{
    margin-bottom: 50px;
}

.connect-two__form{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 35px;
}

/* Footer */

.footer{
    background-color: #2D343C;
}

.footer__content{
    padding: 60px 0 50px 0;
}

.footer__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px 30px;
}

.footer__logo-big{
    display: block;
    font-family: 'Post No Bills Jaffna SemiBold';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.footer__logo-small{
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.footer__link:not(:last-child),
.footer__info-item:not(:last-child){
    margin-bottom: 15px;
}

.footer__link-item,
.footer__info-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__info-email{
    color: #D4C17F;
    font-weight: 700;
}

.footer__socials{
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 21px;
}

/* Media queries */

@media (max-width: 1812px) {

    .testim,
    .apart,
    .video,
    .map{
        background-image: none;
    }

}

@media (max-width: 1025px){

    .connect-one__wrap{
        -ms-grid-rows: auto 35px auto;
        grid-template-rows: auto auto;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        gap: 35px;
    }

    .connect-one__wrap > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .connect-one__wrap > *:nth-child(2){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .connect-one__form-wrap{
        display: block;
        max-width: 545px;
    }

    .connect-one__form{
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 35px;
    }

    .connect__form-text{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .connect__form-text br {
        display: none;
    }

    .testim__card,
    .testim__card:first-child{
        max-width: 150px;
    }

}

@media (max-width: 780px){ 

    .header__nav-items{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 70px 30px 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
        background-color: #30363c;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        z-index: 100;
    }

    .header__nav_active{
        -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
                transform: translateY(0%);
    }

    .header__nav-link{
        font-size: 23px;
    }

    .header__nav-close{
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 27px;
        right: 20px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        z-index: 110;
    }

    .header__nav-close-line{
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #FFFFFF;
    }

    .header__nav-close-line:first-child{
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child{
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }

    .header__burger{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 30px;
        height: 30px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        z-index: 90;
    }

    .header__burger-line{
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
    }
      
    .apart__cards{
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: repeat(4, 280px);
        grid-template-rows: repeat(4, 280px);
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
      
    .apart__cards > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
      
    .apart__cards > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
      
    .apart__cards > *:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
      
    .apart__cards > *:nth-child(4){
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

}

@media (max-width: 535px){

    .page-title{
        margin-bottom: 50px;
    }

    .header__content{
        padding: 20px 0;
    }

    .header__logo-big{
        font-size: 26px;
        line-height: 44px;
    }

    .intro{
        padding: 180px 0 75px 0;
    }
    
    .intro__info-title{
        font-size: 30px;
        line-height: 45px;
    }

    .intro__info-mouse{
        margin-bottom: 90px;
    }

    .apart__card-text{
        padding: 30px;
    }

    .video__item{
        height: 350px;
    }

    .testim__content,
    .connect-one__content{
        padding: 75px 0;
    }

    .video,
    .map,
    .connect-two{
        margin-bottom: 70px;
    }

}

@media (max-width: 475px){

    .header__nav-link{
        font-size: 18px;
    }

}