@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'Post No Bills Jaffna SemiBold';
    src: url('../fonts/PostNoBillsJaffna-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    background-color: #242B33;
}

a:focus{
    outline: none;
    border: none;
}

.wrapper{
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Header */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.header__logo{
    display: flex;
    flex-direction: column;
}

.header__logo{
    text-decoration: none;
}

.header_logo-big{
    font-family: 'Post No Bills Jaffna SemiBold';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: white;
}

.header_logo-small{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.header__nav-items{
    display: flex;
    gap: 40px;
}

.header__nav-link{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #FFFFFF;
}

/* Intro */

.intro{
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
    url(../img/jpg/intro-bg.jpg);
    padding: 296px 0 74px 0;
    background-position: center center;
    background-size: cover;
}

.intro__info{
    margin: 0 auto;
    max-width: 582px;
}

.intro__info-title{
    max-width: 556px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
    margin: 0 auto 100px auto;
}

.intro__info-mouse{
    margin-bottom: 200px;
}

.intro__info-mouse img{
    display: block;
    margin: 0 auto;
}

.intro__info-connect{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
}

.intro__info-connect-item{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-position: left center;
}

.intro__info-location{
    background-image: url(../img/svg/intro-location.svg);
    padding-left: 30px;
}

.intro__info-phone{
    background-image: url(../img/svg/intro-phone.svg);
    padding-left: 36px;
}

/* Testimonials */

.testim{
    background-image: url(../img/jpg/two.jpg);
    background-position: top 116px right 258px;
}

.testim__content{
    padding: 120px 0;
}

.testim__cards{
    display: grid;
    grid-template-columns: minmax(auto, 193px) repeat(3, minmax(auto, 135px));
    gap: 30px 70px;
    max-width: fit-content;
    margin: 0 auto;
}

.testim__card{
    text-align: center;
}

.testim__card-img{
    margin-bottom: 53px;
}

.testim__card:first-child {
    max-width: 193px;
}

.testim__card-text{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: white; 
}

/* Apartments */

.apart__title{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-bottom: 100px;
}

.apart__cards{
    display: grid;
    grid-template-rows: 320px 320px;
    grid-template-columns: repeat(2, minmax(320px, 535px));
    gap: 30px;
}

.apart__card{
    position: relative;
}

.apart__card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.apart__card-text{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}

.apart__card-desc{
    margin-top: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
}
