@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'Post No Bills Jaffna SemiBold';
    src: url('../fonts/PostNoBillsJaffna-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    background-color: #242B33;
}

a:focus{
    outline: none;
    border: none;
}

input, button{
    outline: none;
    border: none;
}

.wrapper{
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.page-title{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

/* connect */

.connect__input{
    font-family: 'Raleway';
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
}

.connect__input::placeholder{
    font-family: 'Raleway';
    color: #BEBEBE;
}

.connect__form-text{
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;
}

.connect__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    background: #D4C17F;
    padding: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

/* Header */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.header__logo{
    display: flex;
    flex-direction: column;
}

.header__logo{
    text-decoration: none;
}

.header_logo-big{
    font-family: 'Post No Bills Jaffna SemiBold';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: white;
}

.header_logo-small{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.header__nav-items{
    display: flex;
    gap: 40px;
}

.header__nav-link{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #FFFFFF;
}

/* Intro */

.intro{
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
    url(../img/jpg/intro-bg.jpg);
    padding: 296px 0 75px 0;
    background-position: center center;
    background-size: cover;
}

.intro__info{
    margin: 0 auto;
    max-width: 582px;
}

.intro__info-title{
    max-width: 556px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
    margin: 0 auto 100px auto;
}

.intro__info-mouse{
    margin-bottom: 200px;
}

.intro__info-mouse img{
    display: block;
    margin: 0 auto;
}

.intro__info-connect{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
}

.intro__info-connect-item{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    background-position: left center;
}

.intro__info-location{
    background-image: url(../img/svg/intro-location.svg);
    padding-left: 30px;
}

.intro__info-phone{
    background-image: url(../img/svg/intro-phone.svg);
    padding-left: 36px;
}

/* Testimonials */

.testim{
    background-image: url(../img/jpg/two.jpg);
    background-position: top 116px right 258px;
}

.testim__content{
    padding: 120px 0;
}

.testim__cards{
    display: grid;
    grid-template-columns: minmax(auto, 193px) repeat(3, minmax(auto, 135px));
    gap: 30px 70px;
    max-width: fit-content;
    margin: 0 auto;
}

.testim__card{
    text-align: center;
}

.testim__card-img{
    margin-bottom: 53px;
}

.testim__card:first-child {
    max-width: 193px;
}

.testim__card-text{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: white; 
}

/* Apartments */

.apart{
    background-image: url(../img/jpg/three.jpg);
    background-position: left 179px top 70px;
}

.apart__title{
    margin-bottom: 100px;
}

.apart__cards{
    display: grid;
    grid-template-rows: 320px 320px;
    grid-template-columns: repeat(2, minmax(320px, 535px));
    gap: 30px;
}

.apart__card{
    position: relative;
}

.apart__card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.apart__card-text{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}

.apart__card-desc{
    margin-top: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

/* Connect-one */

.connect-one{
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
    url(../img/jpg/connect-one-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.connect-one__wrap{
    display: grid;
    grid-column-start: auto;
    grid-template-columns: minmax(383px, 535px) 540px;
    gap: 35px;
}

.connect-one__title{
    margin-bottom: 50px;
}

.connect-one__content{
    padding: 180px 0;
}

.connect-one__text{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.connect-one__input{
    font-family: 'Raleway';
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    line-height: 27px;
    color: #BEBEBE;
}

.connect-one__input::placeholder{
    font-family: 'Raleway';
    color: #BEBEBE;
}

.connect-one__form-text{
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;
}

.connect-one__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    background: #D4C17F;
    padding: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.connect-one__form-wrap{
    display: flex;
    align-items: flex-end;
}

.connect-one__form{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(200px, 255px) minmax(200px, 255px);
    gap: 35px 30px;
}

/* Video */

.video{
    background-image: url(../img/jpg/four.jpg);
    background-position: right 200px center;
    margin-bottom: 180px;
}

.video__item{
    position: relative;
    margin: 0 auto;
    max-width: 719px;
    height: 650px;
    background-image: url(../img/jpg/video.jpg);
    background-position: center center;
    background-size: cover;
}

.video__button-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 43, 51, 0.8);
}

.video__button{
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Map */

.map{
    background-image: url(../img/jpg/five.jpg);
    background-position: top 90px left 270px;
    margin-bottom: 180px;
}

.map__title{
    margin-bottom: 100px;
}

.map__item{
    width: 100%;
    height: 358px;
    background-color: #626262;
}


/* Connect two */

.connect-two{
    margin-bottom: 180px;
}

.connect-two__title{
    margin-bottom: 50px;
}

.connect-two__form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 251px));
    gap: 35px;
}

/* Footer */

.footer{
    background-color: #2D343C;
}

.footer__content{
    padding: 60px 0 50px 0;
}

.footer__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 30px;
}

.footer__logo-big{
    display: block;
    font-family: 'Post No Bills Jaffna SemiBold';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.footer__logo-small{
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.footer__link:not(:last-child){
    margin-bottom: 15px;
}

.footer__link-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__item-email{
    color: #D4C17F;
    font-weight: 700;
}

.footer__socials{
    padding-top: 5px;
    display: flex;
    gap: 21px;

}






