@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'Post No Bills Jaffna SemiBold';
    src: url('../fonts/PostNoBillsJaffna-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
}

a:focus{
    outline: none;
    border: none;
}

.wrapper{
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.header__logo{
    display: flex;
    flex-direction: column;
}

.header__logo{
    text-decoration: none;
}

.header_logo-big{
    font-family: 'Post No Bills Jaffna SemiBold';
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: white;
}

.header_logo-small{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.header__nav-items{
    display: flex;
    gap: 40px;
}

.header__nav-link{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #FFFFFF;
}

/* Intro */

.intro{
    background-image: url(../img/jpg/intro-bg.jpg);
    padding: 296px 0 74px 0;
}

.intro__info{
    margin: 0 auto;
    max-width: 582px;
}

.intro__info-title{
    max-width: 556px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
    margin: 0 auto 100px auto;
}

.intro__info-mouse{
    margin-bottom: 200px;
}

.intro__info-mouse img{
    display: block;
    margin: 0 auto;
}

.intro__info-connect{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
}

.intro__info-connect-item{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

